.info-block{
    display: flex;
    justify-content: center;
    padding: 50px 0;
    border-bottom: 1px solid $grey--2;

    &__container{
        max-width: 550px;
    }

    &__title{
        margin-bottom: 20px;
    }

    &__text{
        color: $grey--3;
    }
}