%info-block-extend{
    display: flex;
    justify-content: center;
    padding: 50px 0;
    border-bottom: 1px solid $grey--2;
    transition: .3s;
}

%creators{
    padding: 14px 50px;
    display: flex;
    justify-content: flex-end;
    transition: .3s;
}

%creator-link{
    text-decoration: none;
    position: relative;
    color: $grey--1;
    transition: .3s;
}


.info-block{
    @extend %info-block-extend;
    background-color: white;
    border-bottom: 1px solid $grey--2;

    &__creators{
       @extend %creators;
        &--dark{
            @extend %creators;
            background-color: $lgrey--2;
            color: white;
        }
    }

    &__creator{
        font-weight: 700;
    }

    &__creator-link,
    &__creator-link:link,
    &__creator-link:visited{
        @extend %creator-link;
        color: $lgrey--1;

        &--dark,
        &--dark:link,
        &--dark:visited{
            @extend %creator-link;
            color: #e9e9e9;
        }
    }

    &__creator:hover .info-block__creator-link::after{
        width: 80%;
        transition: .3s;
    }

    &__creator-link::after{
        content: "";
        width: 0%;
        position: absolute;
        transition: .3s;
        text-align: center;
        top: 24px;
        left: 2px;
        border-bottom: 1px solid black;
    }

    &__creator:hover .info-block__creator-link--dark::after{
        width: 80%;
        transition: .3s;
    }

    &__creator-link--dark::after{
        content: "";
        width: 0%;
        position: absolute;
        transition: .3s;
        text-align: center;
        top: 24px;
        left: 2px;
        border-bottom: 1px solid white;
    }

    &__container{
        width: 650px;
    }

    &__title{
        margin-bottom: 20px;
    }

    &__text{
        color: $grey--3;
    }
}

.info-block{
    &--dark{
        @extend %info-block-extend;
        background-color: $lgrey--2;
        border-bottom: 1px solid #424242;
    }

    &__title--dark{
        margin-bottom: 20px;
        color: #e9e9e9;
    }

    &__text--dark{
        color: #e9e9e9;
    }
}