@function borderRadiusCalc($radius){
    @return $radius / 2 
}

$button-radius: 10px;

%code-block-extender{
    padding: 10px;
    color: white;
    border-radius: 12px;
    position: relative;
    transition: .3s;
    margin-bottom: 40px;
}

%code-style{
    font-family: monospace;
    font-size: 16px;
    line-height: 24px;
}

.code-block{
    @extend %code-block-extender;
    background: linear-gradient(to bottom, #3f3f3f 0%,#383838 33%,#262626 100%);
    box-shadow: 0px 0px 50px -10px rgba(120,120,120,1);

    &--dark{
        @extend %code-block-extender;
        background: linear-gradient(to bottom, white 0%,#ebebeb 33%,#d4d4d4 100%);
        box-shadow: 0px 0px 50px -10px rgb(36, 36, 36);
    }

    &__button-container{
        display: flex;
        justify-content: flex-end;
        margin-bottom: 30px;
    }

    &__buttons-effect{
        display: flex;
    }

    &__button-effect--container{
        position: absolute;
        top: 15px;
        left: 15px;
    }

    &__button-effect{
        margin-right: 6px;
        display: block;
        width: $button-radius;
        height: $button-radius;
        background-color: #efefef;
        border-radius: borderRadiusCalc($button-radius);
        &--red{
            background-color: #ff2441;
        }
        &--yellow{
            background-color: #ffde24;
        }
        &--green{
            background-color: #00c732;
        }
    }

    &__code{
        @extend %code-style;
        color: #dbdbdb;
        &--dark{
            @extend %code-style;
            color: #262626;
        }
    }

    &__code-comment{
        font-family: monospace;
        color: #838383;
    }

    &__component-start-name{
        font-family: monospace;
        font-style: italic;
        color: #838383;
    }

    &__component-name{
        font-family: monospace;
        font-style: normal;
        color: #00c732;
    }
}

pre{
    padding-left: 20px;
    margin-bottom: 40px;
    white-space: pre-wrap;
    overflow-x: auto;
    @include respond(bp-smallest){
        padding: 8px;
      }
}