.choice-toggle{

    &__container{
        display: flex;
    }
    &__option{
        display: block;
        position: relative;
        padding-left: 35px;
        // margin-bottom: 12px;
        cursor: pointer;
        font-size: 16px;
        user-select: none;

        & input{
            position: absolute;
            opacity: 0;
            cursor: pointer;
            height: 0;
            width: 0;
        }
    }
    &__input{
        &--text{
            // color: hotpink;
        }
    }   
}


/* Customize the label (the container) */
.container {
    display: block;
        position: relative;
        padding-left: 40px;
        // margin-bottom: 12px;
        cursor: pointer;
        font-size: 16px;
        user-select: none;
  }
  
  /* Hide the browser's default radio button */
  .container input {
            position: absolute;
            opacity: 0;
            cursor: pointer;
            height: 0;
            width: 0;
  }
  
  /* Create a custom radio button */
  .checkmark {
    position: absolute;
    top: -3px;
    left: 0;
    height: 24px;
    width: 24px;
    background-color: white;
    border: 1px solid #ccc;
    border-radius: 50%;
    transition: .3s;
  }

  .label{
    margin-right: 30px;
    font-size: 16px;
    font-weight: 600;
  }
  
  /* On mouse-over, add a grey background color */
  .container:hover input ~ .checkmark {
    border: 1px solid #2196F3;
  }
  
  /* When the radio button is checked, add a blue background */
  .container input:checked ~ .label {
    color: #2196F3;
  }
  
  /* Create the indicator (the dot/circle - hidden when not checked) */
  .checkmark:after {
    content: "";
    position: absolute;
    display: none;
  }
  
  /* Show the indicator (dot/circle) when checked */
  .container input:checked ~ .checkmark:after {
    display: block;
  }
  
  /* Style the indicator (dot/circle) */
  .container .checkmark:after {
    top: 5px;
    left: 5px;
    width: 14px;
    height: 14px;
    border-radius: 50%;
    background: #2196F3;
  }