%input-container{
    width: 100%;
    display: flex;
    align-items: center;
}


.control{

    &__panel-container{
        position: relative;
    }

    &__button-container{
        display: flex;
    }

    &__input-container{
        @extend %input-container;
        &--dark{
            @extend %input-container;
            color: white;
            &--input{
                width: 65%;
            }
            &--radio{
                width: 35%;
                margin-bottom: 28px;
            }
        }

        &--input{
            width: 65%;
        }
        &--radio{
            width: 35%;
            margin-bottom: 28px;
        }
    }
}