.control{
    &__button-container{
        display: flex;
        margin-bottom: 60px;
    }

    &__input-container{
        width: 100%;
        display: flex;
        align-items: center;

        &--input{
            width: 70%;
        }
        &--radio{
            width: 30%;
        }
    }
}