.control{

    &__panel-container{
        position: relative;
    }

    &__button-container{
        display: flex;
    }

    &__input-container{
        width: 100%;
        display: flex;
        align-items: center;

        &--input{
            width: 65%;
        }
        &--radio{
            width: 35%;
            margin-bottom: 28px;
        }
    }
}