// LIGHT UI

$blue--1: #008CE9;

$lb--1: #F8F8FB;

$grey--1: #F5F5F5;
$grey--2: #efefef;
$grey--3: #3A3A3F;
$grey--4: #dadada;
$grey--5: #8B8D91;

$code--black: #313137;

// DARK UI
$lgrey--1: #272727;

// OTHER VARIABLES

$border--radius: 8px;