.layout{
    
    &__control{
        background-color: $lb--1;
        padding: 50px 0;
        display: flex;
        justify-content: center;

        &--container{
            width: 550px;
        }
    }
}