%button-extend{
    padding: 12px 18px;
    border-radius: $border--radius;
    display: flex;
    align-items: center;
    transition: .3s;
    border: none;
    font-size: 16px;
    outline: none;
}

.button{
    @extend %button-extend;
    
    &:hover{
        cursor: pointer;
    }

    &:not(:last-child){
        margin-right: 16px;
    }

    &__primary{
        min-width: 120px;
        background-color: $grey--1;

        &:hover{
            box-shadow: 0px 4px 20px -5px rgba(68, 68, 68, 0.753);
            transform: translateY(-2px);
        }

        // &:disabled{
        //     background-color: hotpink;
        // }

        &:active{
            transform: translateY(1px);
        }

        & .button__icon{
            fill: black;
        }
    }

    &__primary--dark{
        min-width: 120px;
        background-color: $lgrey--1;
        color: white;

        &:hover{
            box-shadow: 0px 4px 20px -5px rgba(68, 68, 68, 0.753);
            transform: translateY(-2px);
        }

        &:active{
            transform: translateY(1px);
        }

        & .button__icon{
            fill: white;
        }
    }

    &__secondary{
        background-color: $blue--1;
        color: white;
        & .button__icon{
            fill: white;
        }

        &:disabled{
            background-color: hotpink;
        }
    }

    &__secondary--dark{
        background-color: salmon;
        color: white;
        & .button__icon{
            fill: white;
        }
    }

    &__tertiary{
        background-color: #61636A;
        color: $grey--3;

        & .button__icon{
            fill: $grey--3;
        }
    }

    &__tertiary--dark{
        background-color: palegreen;
        color: $grey--3;

        & .button__icon{
            fill: $grey--3;
        }
    }

    &__icon{
        margin-right: 10px;
    }
}
