%button-extend{
    padding: 12px 18px;
    border-radius: $border--radius;
    display: flex;
    align-items: center;
    transition: .3s;
    border: none;
    font-size: 16px;
    outline: none;
}

.button{
    @extend %button-extend;
    
    &:hover{
        cursor: pointer;
    }

    &:not(:last-child){
        margin-right: 16px;
    }

    &__primary{
        min-width: 120px;
        background-color: $grey--1;

        &:hover{
            box-shadow: 0px 4px 20px -5px rgba(68, 68, 68, 0.753);
            transform: translateY(-2px);
        }

        &:active{
            transform: translateY(1px);
        }

        & .button__icon{
            fill: black;
        }
    }

    &__primary--dark{
        min-width: 120px;
        background-color: $lgrey--1;
        color: white;

        &:hover{
            box-shadow: 0px 4px 20px -5px rgba(68, 68, 68, 0.753);
            transform: translateY(-2px);
        }

        &:active{
            transform: translateY(1px);
        }

        & .button__icon{
            fill: white;
        }
    }

    &__secondary{
        background-color: $blue--1;
        color: white;
        & .button__icon{
            fill: white;
        }

        &:hover:enabled{
            box-shadow: 0px 4px 20px -5px rgba(11, 17, 31, 0.753);
            transform: translateY(-2px);
        }

        &:active:enabled{
            transform: translateY(1px);
        }

        &:disabled{
            background-color: $dgrey--1;
            color: $grey--3;
            cursor: not-allowed;

            & .button__icon{
                fill: $grey--3;
            }
        }
    }

    &__secondary--dark{
        background-color: $blue--1;
        color: white;
        & .button__icon{
            fill: white;
        }

        &:hover:enabled{
            box-shadow: 0px 4px 20px -5px rgba(11, 17, 31, 0.753);
            transform: translateY(-2px);
        }

        &:active:enabled{
            transform: translateY(1px);
        }

        &:disabled{
            background-color: $dgrey--2;
            color: $dgrey--3;
            cursor: not-allowed;

            & .button__icon{
                fill: $dgrey--3;
            }
        }
    }

    &__tertiary{
        background-color: transparent;
        box-shadow: inset 0px 0px 0px 1px $blue--1;
        color: $blue--1;

        &:hover:enabled .button__icon{
            animation-name: spin;
            animation-duration: 4000ms;
            animation-iteration-count: infinite;
            animation-timing-function: linear;
            transform-origin: 50% 49%;
        }

        & .button__icon{
            fill: $blue--1;
        }

        &:disabled{
            box-shadow: inset 0px 0px 0px 0px $blue--1;
            background-color: $dgrey--1;
            color: $grey--3;
            cursor: not-allowed;

            & .button__icon{
                fill: $grey--3;
            }
        }
    }

    &__tertiary--dark{
        background-color: transparent;
        box-shadow: inset 0px 0px 0px 1px $blue--1;
        color: $blue--1;

        & .button__icon{
            fill: $blue--1;
        }

        &:hover:enabled .button__icon{
            animation-name: spin;
            animation-duration: 4000ms;
            animation-iteration-count: infinite;
            animation-timing-function: linear;
            transform-origin: 50% 49%;
        }

        &:disabled{
            box-shadow: inset 0px 0px 0px 0px $blue--1;
            background-color: $dgrey--2;
            color: $dgrey--3;
            cursor: not-allowed;

            & .button__icon{
                fill: $dgrey--3;
            }
        }
    }

    &__icon{
        margin-right: 10px;
    }
}
