.button{
    padding: 12px 18px;
    border-radius: $border--radius;
    display: flex;
    align-items: center;
    transition: .3s;

    &:hover{
        cursor: pointer;
    }

    &:not(:last-child){
        margin-right: 16px;
    }

    &__primary{
        background-color: $grey--1;

        &:hover{
            box-shadow: 0px 4px 20px -5px rgba(68, 68, 68, 0.753);
            transform: translateY(-2px);
        }

        &:active{
            transform: translateY(1px);
        }

        & .button__icon{
            fill: black;
        }
    }

    &__secondary{
        background-color: $blue--1;
        color: white;
        & .button__icon{
            fill: white;
        }
    }

    &__tertiary{
        color: $grey--3;

        & .button__icon{
            fill: $grey--3;
        }
    }

    &__quaternary{
        background-color: $grey--4;
        color: $grey--3;
        & .button__icon{
            fill: $grey--3;
        }
    }

    &__quinternary{
        position: absolute;
        top: 26px;
        right: 10px;
        display: flex;
        background-color: transparent;
        border: 1px solid $grey--5;
        color: $grey--5;
        
        & .button__icon{
            fill: $grey--5;
        }
    }

    &__icon{
        margin-right: 10px;
    }
}
