%nav-extend{
    display: flex;
    justify-content: space-between;
    padding: 14px 40px;
    transition: .3s;
    @include respond(bp-small){
        padding: 10px 16px;
      }
}


.nav{
    @extend %nav-extend;
    border-bottom: 1px solid $grey--2;

    &__icon{
        width: 20px;
        height: 20px;
        flex: 1;
    }

    &__title{
        display: flex;
        align-items: center;

        & svg{
            margin-right: 10px;
        }

        &--text{
            @include respond(bp-smallest){
                display: none;
              }
        }
    }

    &--dark{
        @extend %nav-extend;
        background-color: black;
        border-bottom: 1px solid #424242;
    }

    &__title--dark{
        display: flex;
        align-items: center;
        color: white;

        & svg{
            margin-right: 10px;
            fill: white; 
        }
    }
}