%standard-input{
    padding: 14px 20px;
    border-radius: $border--radius;
    font-size: 16px;
    margin-bottom: 10px;
    outline: none;
}


.input-field{
    display: flex;
    flex-direction: column;
    margin-bottom: 44px;
    margin-right: 20px;
    position: relative;

    &__label{
        margin-bottom: 14px;
    }

    &__check{
        position: absolute;
        top: 44px;
        right: 20px;
    }

    &__input{
        @extend %standard-input;
        border: 1px solid $grey--4;
        

        &--dark{
        @extend %standard-input;
        border: 1px solid #424242;
        background-color: $lgrey--2;
        color: white;
            &--error{
                @extend %standard-input;
                color: white;
                background-color: $lgrey--2;
                border: 1px solid #c50031;
                &:focus{
                    border: 1px solid #c50031;
                    outline: none;
                }
            }
            &:focus{
                outline: none;
                border: 1px solid $blue--1;
            }
        }

        &--error{
            @extend %standard-input;
            border: 1px solid #c50031;
            &:focus{
                border: 1px solid #c50031;
                outline: none;
            }
        }

        &:focus{
            outline: none;
            border: 1px solid $blue--1;
        }

        &::placeholder{
            color: #c5c5c5;
        }
    }
}