.input-field{
    display: flex;
    flex-direction: column;
    margin-bottom: 44px;
    margin-right: 20px;
    position: relative;

    &__label{
        margin-bottom: 14px;
    }

    &__check{
        position: absolute;
        top: 44px;
        right: 20px;
    }

    %standard-input{
        padding: 14px 20px;
        border-radius: $border--radius;
        border: 1px solid $grey--4;
        font-size: 16px;
        margin-bottom: 10px;
    }

    &__input{
        @extend %standard-input;

        &--error{
            @extend %standard-input;
            border: 1px solid #c50031;
            &:focus{
                border: 1px solid #c50031;
                outline: none;
            }
        }

        &:focus{
            outline: none;
            border: 1px solid $blue--1;
        }

        &::placeholder{
            color: #c5c5c5;
        }
    }
}