*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit; }

*,
*::before,
*::after {
  font-family: 'IBM Plex Sans', sans-serif; }

.test {
  background-color: #efefef; }

.button {
  background-color: #05D65A; }
