*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit; }

*,
*::before,
*::after {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale; }

.layout__control {
  background-color: #F8F8FB;
  padding: 50px 0;
  display: flex;
  justify-content: center; }

.layout__control--container {
  width: 550px; }

.nav {
  padding: 14px 40px;
  border-bottom: 1px solid #efefef;
  display: flex;
  justify-content: space-between; }

.nav__title {
  display: flex;
  align-items: center; }

.nav__title__icon {
  margin-right: 10px; }

.info-block {
  display: flex;
  justify-content: center;
  padding: 50px 0;
  border-bottom: 1px solid #efefef; }

.info-block__container {
  max-width: 550px; }

.info-block__title {
  margin-bottom: 20px; }

.info-block__text {
  color: #777777; }

.control__button-container {
  display: flex;
  justify-content: space-between; }

.control__button-block {
  display: flex; }

.button {
  padding: 12px 18px;
  border-radius: 8px;
  display: flex;
  align-items: center; }

.button:not(:last-child) {
  margin-right: 16px; }

.button__primary {
  background-color: #F5F5F5; }

.button__secondary {
  background-color: #008CE9;
  color: white; }

.button__tertiary {
  color: #777777; }

.button__icon {
  margin-right: 10px; }
